<%- include('./partials/head') %>

<body class='claro'>
<%- include('./partials/header') %>

<div class="container my-5">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <div class="card shopping-cart claro sombreado">
        <div class="card-body p-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6">
              <!-- titulo carrito -->
              <h4 class="mb-4 py-2 text-center font-weight-bold text-uppercase"><img
                src="/images/iconos/carritoMas.svg" alt="imagen carrito" width="50" height=""
                title="carrito" class="mr-3">Sus Productos</h4>
            <% let productosFinal = productos.sort(() => Math.random() - Math.random()).slice(0, 3) %>
            <% let total = 0 %>
            <% for (producto of productosFinal){ let image = JSON.parse(producto.image) %>
              <div class="media mb-3">
                <img class="d-flex mr-3 imgCarrito" src="/images/imgInstrumentos/<%= image[0] %>" alt="producto carrito">
                <div class="media-body">
                  <a class="float-right"><i class="fas fa-times"></i></a>
                  <h5 class="mt-0 font-weight-bold"><%= producto.name %></h5>
                  <p class="font-weight-bold grey-text mb-2"><%= producto.category.name %></p>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">$<%= producto.price %></p>
                    <% total += Number(producto.price)  %>
                    <div class="def-number-input number-input safari_only mt-n05">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                      <input class="quantity font-weight-bold black-text" min="0" max=<%= producto.stock %>  name="quantity" value="1" type="number">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
              <hr class="blue-border mb-4">

              <div class="d-flex justify-content-between light-blue lighten-5 p-2">
                <h5 class="font-weight-bold mb-0">Total:</h5>
                <h5 class="font-weight-bold mb-0">$<%= Number(total) %> </h5>
              </div>

            </div>

            <!-- Grid column -->
            <div class="col-lg-6">
              <h6 class="font-weight-bold m-2">Financiación a través de MercadoPago</h6>
              <h6 class="font-weight-bold m-2">(AHORA12 y AHORA18 disponibles)</h6>

              <form action="">
                <div class="mPagos">
                  <span class="mt-auto mb-auto">Medios de pago  =></span>
                  <img src="/images/iconos/metodos-de-pago.png" class="ml-2 mediosCarrito" alt="visa   mastercard mercadopago"
                    width="60%" height="" title="Home">
                </div>
                <button type="button" class="btn btn-primary btn-block mb-lg-0 mb-5">Compre ahora. Pare de sufrir!</button>
                <h5 class="font-weight-bold d-flex justify-content-around"><a class="blue-text back-link" href="/"><i class="fas fa-angle-left mr-2"></i>Pagina principal</a></h5>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- include('./partials/footer') %>