<%- include('./partials/head') %>

<body class='claro'>
  <%- include('./partials/header') %>


  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><img src="/images/iconos/house.svg" alt="Home" width="20" height="20" title="Home"></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/products/list/<%=producto.category_id%>"><%= cat %></a></li>
        <% if(subcat != "" ){ %>
          <li class="breadcrumb-item active" aria-current="page"><a href="/products/list/<%=producto.category_id%>"><%= subcat %></a></li>
        <% } %>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 p-0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <%  let imagenes = pictures
                for (let i=0; i < imagenes.length; i++){
                let imagenX = imagenes[i];
                let posicion = imagenes.indexOf(imagenX)
                let estado = ""
                if(posicion == 0){
                  estado = "active"
                }else{
                  estado = ""
                }
                %>
            <div class="carousel-item <%=estado%>">
              <img class="d-block w-100" src="/images/imgInstrumentos/<%=imagenX%>" alt="First slide">
            </div>

            <%};%>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br />
      </div>
      <div class="col-md-4 p-0">
        <div class="card w-100 cardClaro">
          <div class="card-body">
            <h5 class="card-title"><%= producto.name %> </h5>
            <p class="card-text"><%= producto.description %></p>
            <div class="mb-3">
              <!-- pone y saca la linea del descuento para que no aparezca un -0% y tacha precio cuando hay descuento -->
              <%let preciofinal = toThousand(producto.price-((producto.price*producto.discount)/100))
              let display = "";
              let tachado = "";
              if(producto.discount <= 0){
                display = "d-none"
                tachado = ""
              }else{
                display = "d-inline"
                tachado = "tachado"
              } %>
                <img src="/images/iconos/plata.svg" alt="Home" width="20" height="20" title="Home">
                <h6 class="card-title d-inline">precio de lista: $</h6>
                <h6 class="card-title d-inline <%=tachado %>"><%=toThousand(producto.price)%> </h6>
                <br>
                <h6 class="card-title <%= display %>"><%=producto.discount%>% OFF \ precio final: $<%=preciofinal%></h6>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-around">
              <button type="button" class="btn btn-outline-dark btnIzquierda">comprar__<img
                  src="/images/iconos/comprar.svg" alt="comprar" width="20" height="20" title="Home"> </button>
              <button type="button" class="btn btn-outline-dark btnDerecha">agregar al__ <img
                  src="/images/iconos/carritoMas.svg" alt="agregar al carrito" width="20" height="20"
                  title="Home"></button>
            </div>
            <% if (frontLogedUser){ %>
              <% if (frontLogedUser.isAdmin){ %>
                <h4 class="py-3">Panel administrador:</h4>
                <div class="container-fluid p-0 d-flex justify-content-around">
                  <button type="button" class="btn btn-outline-dark"><a class="btnEdit" href="/products/<%=producto.id%>/edit">Editar
                      producto</a></button>
                  <button type="button" class="btn btn-outline-dark btnDelete" data-toggle="modal" data-target="#exampleModalCenter">
                    Borrar producto
                  </button>
                </div>
              <% }%>
            <% }%>
            <br />
            <br />
            <p>Medios de pago</p>
            <img src="/images/iconos/metodos-de-pago.png" class="mx-auto d-block" alt="visa   mastercard mercadopago"
            width="60%" height="" title="Home">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal alerta antes de borrar-->
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content  modal-naranja">
      <div class="mt-4 mb-1">
        <h4 class="modal-center" id="titulo modal">¡Alerta de borrado!</h5>
      </div>
      <div class="">
        <h6 class="modal-center">Esta seguro que quiere borrar este producto del sitio?</h6>
      </div>
      <div class="modal-botones">
        <button type="button" class="btn btn-verde" data-dismiss="modal">Salir</button>
        <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
          <button type="submit" class="btn btn-rojo">Borrar producto</button>
        </form>
      </div>
    </div>
  </div>
</div>
  <%- include('./partials/footer') %>