<!-- HEAD -->
<%- include('./partials/head') %>
<!-- HEADER -->
<%- include('./partials/header') %>

<div class="container py-3 my-3">
    <div class="col-12" style=" background-color: #ffffff; border-radius: 8px;">
        <h2 style="text-decoration: underline;">Modificando producto:  ID - <%= producto.id %></h2>
        <form action="/products/<%= producto.id %>/edit/?_method=PUT" enctype="multipart/form-data" method="POST" name="formEdit" class="formProduct">
            <div class="form-row justify-content-center">
                <div class="col-12 col-md-6 form-group">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" value="<%= producto.name %>" class="form-input name product" required>
                    <small class="errorName error">El NOMBRE es obligatorio, y de mínimo 5 caracteres</small>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="price" class="form-label">Precio ($):</label>
                    <input type="number" id="price" name="price" max="999999" value="<%= producto.price %>" class="form-input price product" required>
                    <small class="errorPrice error">El PRECIO es obligatorio y no puede ser 0</small>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="discount" class="form-label">Descuento (%):</label>
                    <input type="number" id="discount" name="discount" min="0" max="99" value="<%= producto.discount %>" class="form-input discount product" required>
                    <small class="errorDiscount error">El DESCUENTO no debe superar el 99%</small>
                </div>
                <div class="col-12 col-md-6">
                    <label for="stock" class="form-label">Cantidad:</label>
                    <input type="number" id="stock" name="stock" value="<%= producto.stock %>" class="form-input stock product" required>
                    <small class="errorStock error">El STOCK debe estar entre 1 y 999</small>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="serialNumber" class="form-label">Serial del producto:</label>
                    <input type="number" id="serialNumber" name="serialNumber" value="<%= producto.serialNumber %>" class="form-input serialNumber product" required>
                    <small class="errorSerialNumber error">El SERIAL es obligatorio</small>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label>Producto destacado:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="destacado" id="destacado1" value=1 <% if(producto.outstanding == true ){ %>
                            checked
                        <% } %>>
                        <label class="form-check-label" for="destacado1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="destacado" id="destacado2" value=0 <% if(producto.outstanding == false ){ %>
                            checked
                        <% } %>>
                        <label class="form-check-label" for="destacado2">No</label>
                      </div>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="description" class="form-label">Descripcion del producto:</label><br>
                    <textarea name="description" id="description" maxlength="150" cols="30" rows="4" class="form-input description product" required><%= producto.description %></textarea>
                    <small class="errorDescription error">La DESCRIPCIÓN debe tener un minimo de 20 caracteres</small>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="custom-select" style="width: 190px" required>
                        <% for (category of categories) {  %>
                            <option value="<%= category.id %>"
                            <% if(producto.category_id == category.id || producto.category.name == "Guitarra"){ %>
                                selected
                            <% } %>><%= category.name  %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="subcategory" class="form-label">Subcategoría:</label>
                    <!-- <% //if(producto.category.name != 'Guitarras'){ %>
                        disabled
                    <% //} %> -->
                    <select name="subcategory" id="subcategory" class="custom-select" style="width: 190px" >
                        <option value="" selected>No aplica</option>
                        <% for (subcategory of subcategories) {  %>
                            <option value="<%= subcategory.id %>"<% if(producto.category_id == subcategory.id){ %>
                                selected
                            <% } %>><%= subcategory.name  %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input image product" name="image" accept="image/x-png,image/gif,image/jpeg" max="3" id="image" multiple required>
                        <label class="custom-file-label" for="image">Elegir imagenes (MAX 3)</label>
                        <small class="errorImage error"></small>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="btn btn-dark">Actualizar producto</button>
                </div>
                <small>(Para cancelar la operacion simplemente salir de la pagina)</small>
            </div>
        </form>
    </div>
</div>

<!-- FOOTER -->
<%- include('./partials/footer') %>