<!-- HEAD -->
<%- include('./partials/head') %>
<!-- HEADER -->
<%- include('./partials/header') %>

<div class="container py-3 my-3">
    <div class="col-12" style=" background-color: #ffffff; border-radius: 8px;">
        <h2 style="text-decoration: underline;">Modificando producto:  ID - <%= producto.id %></h2>
        <form action="/products/<%= producto.id %>/edit/?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="form-row justify-content-center">
                <div class="col-12 col-md-6 form-group">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" value="<%= producto.name %>" class="form-input">
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="price" class="form-label">Precio ($):</label>
                    <input type="number" id="price" name="price" max="999999" value="<%= producto.price %>" class="form-input">
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="discount" class="form-label">Descuento (%):</label>
                    <input type="number" id="discount" name="discount" min="0" max="99" value="<%= producto.discount %>" class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="stock" class="form-label">Cantidad:</label>
                    <input type="number" id="stock" name="stock" value="" class="form-input">
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="serialNumber" class="form-label">Serial del producto:</label>
                    <input type="number" id="serialNumber" name="serialNumber" value="<%= producto.serialNumber %>" class="form-input">
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label>Producto destacado:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="destacado" id="destacado1" value=1 <% if(producto.destacado == true ){ %>
                            checked
                        <% } %>>
                        <label class="form-check-label" for="destacado1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="destacado" id="destacado2" value=0 <% if(producto.destacado == false ){ %>
                            checked
                        <% } %>>
                        <label class="form-check-label" for="destacado2">No</label>
                      </div>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="description" class="form-label">Descripcion del producto:</label><br>
                    <textarea name="description" id="description" maxlength="150" cols="30" rows="4" class="form-input"><%= producto.description %></textarea>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="custom-select" style="width: 190px">
                        <option value="accesorios" <% if(producto.category == 'accesorios' ){ %>
                            selected
                        <% } %>>Accesorios</option>
                        <option value="baterias" <% if(producto.category == 'baterias' ){ %>
                            selected
                        <% } %>>Baterias</option>
                        <option value="bajos-electricos" <% if(producto.category == 'bajos-electricos' ){ %>
                            selected
                        <% } %>>Bajos</option>
                        <option value="guitarras" <% if(producto.category == 'guitarras' ){ %>
                            selected
                        <% } %>>Guitarras</option>
                        <option value="teclados" <% if(producto.category == 'teclados' ){ %>
                            selected
                        <% } %>>Teclados</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="subCategory" class="form-label">Subcategoría:</label>
                    <select name="subCategory" id="subCategory"class="custom-select" style="width: 190px" <% if(producto.category !== 'guitarras' ){ %>
                        disabled
                    <% } %>>
                        <option value="guitarras-acusticas" <% if(producto.subCategory == 'guitarras-acusticas' ){ %>
                            selected
                        <% } %>>Acustica</option>
                        <option value="clasicas-criollas" <% if(producto.subCategory == 'clasicas-criollas' ){ %>
                            selected
                        <% } %>>Clasica</option>
                        <option value="guitarras-electricas" <% if(producto.subCategory == 'guitarras-electricas' ){ %>
                            selected
                        <% } %>>Electrica</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" accept="image/x-png,image/gif,image/jpeg" max="3" id="image" multiple>
                        <label class="custom-file-label" for="image">Elegir imagenes (MAX 3)</label>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="btn btn-dark">Actualizar producto</button>
                </div>
                <small>(Para cancelar la operacion simplemente salir de la pagina)</small>
            </div>
        </form>
    </div>
</div>

<!-- FOOTER -->
<%- include('./partials/footer') %>